# PROJECT_PORT=
# JWT_SECRET=
# MONGODB_USERNAME=MONGODB_PASSWORD=MONGODB_HOST=
# MONGODB_DB=

# NODE_ENV=


# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_REGION=
# AWS_BUCKET_NAME=

# ENCRYPT_SALT=

# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# GOOGLE_REDIRECT_URI=

# DEBUG=


PROJECT_PORT=
JWT_SECRET=
MONGODB_HOST=
MONGODB_USERNAME=
MONGODB_PASSWORD=
NODE_ENV=
MONGODB_DB=


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=


# MONGODB_URL=mongodb+srv://cluster0.uqkcu.mongodb.net
# MONGODB_USERNAME=fitnessplatformeva
# MONGODB_PASSWORD=PoLSk25qQoiS1Vbt
